*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #03143E;
    font-family: Arial, Helvetica, sans-serif;
}

/* main tags styles  */
/* inputs */
input {
    height: 40px;
    padding: 5%;
    margin: 1%;
    border: .1px solid #ccc;
}

/* buttons */
button {
    height: 40px;
    border: none;
    outline: none;
    padding: 5%;
    border-radius: 10px;
    margin: 1%;
    border: none;
}
button:hover {
    border: 1px solid black;
}

a {
    margin: 1%;
}

/* Welcome section */
.welcome-main{
    display: flex;
    justify-content: space-between;
    background-color: #2A2B2F;
}

.welcome-main div{
    line-height: 40px;
}

.welcome-main div > button {
    height: 40px;
    margin: 1%;
}
.welcome-main div{
    width: 200px;
    
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    /* background-color: yellow; */
}
.welcome-div-logo{
    border-radius: 50%;
}
.welcome-slide img{
    width: 100%;
    height: 600px;
}
.welcome-main div button{
    text-transform: uppercase;
    color: #fff;
    border-radius: 20px;
}
.welcome-main div button:first-child{
    background-color: #F65204; 
}
.welcome-main div button:nth-child(2){
    background-color: #33497C; 
}
.welcome-card-section {
    /* background-color: #1DCFB5; */
    width: 80%;
    margin: 1% auto;
}
.welcome-card-section div{
    margin: 15px 1px;
}
.welcome-card-title {
    background-color: #202A39;
    text-align: center;
    margin: 2% 0;
    padding: 2%;
    border-radius: 15px;
}
.welcome-card-title h1{
    color: #fff;
    /* background-color: #000; */
    /* width: 200px; */
    text-shadow: 4px 2px 4px #C5EDFC;
    /* box-shadow: 2px 2px gray; */
}
.welcome-cards{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.welcome-aviator-game-card{
    position: relative;
    background-color: #0B549F;
    width: 200px;
    margin: 5%;
    border-radius: 5%;
    /* padding: 1%; */
    text-align: center;
}
.welcome-aviator-game-card img{
    width: 100%;
    border-radius: 5%;
}
.welcome-aviator-game-card button{
    color: #fff;
    width: 80px;
    background-color: #FE5602;
    border-radius: 20px;
    font-size: 10pt;
    height: 40px;
    padding: 5%;
    margin: 5%;
    outline: none;
}
.welcome-aviator-game-card button:hover{
    outline: none;
    border: none;
    background-color: #fff;
    color: #000;
    transition: .3s ease;
    cursor: pointer;
    text-transform: uppercase;
}
.welcome-social-midia-zap{
    background-color: #23D563;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 85%;
    left: 90%;
    cursor: pointer;
}
.welcome-social-midia-zap * {
    color: white;
}



/* Admin Login Form */
.adm-main {
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-image: url(../../../public/img/aviator-admin-bg-picture.jpg);

    align-items: center;
    justify-content: center;
}

.adm-login-form-fs{
    width: 250px;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    text-align: center;
    background-color: #fff;
}
.adm-login-form-fs h3{
    color: red;
    margin-bottom: 5px;
}
.adm-login-form-fs h5{
    color: #227E25;
    margin-bottom: 5px;
}

.adm-login-form-fs div{
    margin: 10px;
}

.adm-login-form-fs div > input:focus {
    border: .1px solid #ccc;
    outline: .1px solid #c9c6c4;
}

.adm-login-form-fs legend {
    margin: 1%;
}
.adm-login-form-form {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    background-color: red;
    width: 300px;
    height: 300px;

}
.adm-login-form-btn-sign-in{
    background-color: #1DCFB5;
    width: 100px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;

    /* margin-top: 15px; */
}

/* welcome-account-popup */
.welcome-account-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);

    /* width: 300px; */
    /* height: 250px; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 15px;
}
.welcome-account-popup div{
    margin: 1%;
}
.welcome-site-entrance{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.welcome-site-entrance i {
    color: #ccc;
    /* fill: #03143E; */
    /* border: 1px solid #1DCFB5; */
    /* border-radius: 100%; */
}
.welcome-site-entrance span{
    flex: 1;
    text-align: center;
    text-transform: uppercase;
}
.welcome-site-entrance-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
}
.welcome-site-entrance-input i{
    /* margin: -1%; */
    padding: 5px;
}
.welcome-site-entrance-input input {
    height: 20px;
    border: none;
    outline: none;
    padding: 4px !important;
    margin: auto !important;
}

.w-adm-pp-remember-me{
    display: flex;
    align-items: center;
}
.field-tobe-full{
    text-align: start;
}
.w-adm-pp-btn > button,
.w-adm-pp-btn > a{
    padding: 15px;
    line-height: normal; 
    background-color: #F65204 !important;
    color: #000 !important;
}
.w-adm-pp-btn > button:hover,
.w-adm-pp-btn > a:hover{
    border: none;
}

#w-adm-pp-btn-login{
    /* width: 2rem; */
    background-color: #f09e78;
    color: #000;
}



/* Special customizations for the elemenents */
.hide{
    display: none;
}
.hidden{
    display: none;
}
.invisible{
    color: transparent;
    /* color: yellow; */
    /* background-color: #227E25; */
    background-color: transparent;
    border-radius: 100%;
}